._*
.DS_Store
Thumbs.db
Desktop.ini

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

/*.sln
/*.csproj
/*.userprefs
/*.suo
/*.user
/*.unityproj
/*.apk

.vs/
.vscode/

/TemporaryDataFolder/

!.gitkeep
!*.a
!*.dll

Assets/UnityVS*
Assets/VSCode*